@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Montserrat:wght@100;200;300&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    background: url(../images/svg/body_background.svg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
}

.login-card {
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(141, 141, 141, 0.25);
    /* border-radius: 39px; */
    width: 385px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 474px;
}

.email {
    border: none;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    background-color: transparent;
    padding-left: 0px;
    border-bottom: 1px solid rgb(141, 141, 153);
    padding-left: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.password {
    background-color: transparent;
    border: none;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid rgb(169, 169, 189);
    padding-left: 0px;
    padding-left: 1.2rem;
}

.email:focus, .password:focus {
    background-color: transparent;
    border-color: inherit;
    box-shadow: none;
    border-bottom: 1px solid #b7e7f1;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.email:focus, .password:focus {
    outline: none;
    box-shadow: 0 0 0;
}

.form-wrapper {
    position: relative;
    color: rgb(169, 169, 189);
}

.icon {
    position: absolute;
    left: 0;
    bottom: .8rem;
}

.email::placeholder, .password::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: .9rem;
}

.overlay {
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
}

.sign-up__modal {
    pointer-events: none;
    /* opacity: 0; */
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 550px;
    margin: 0 auto;
    max-height: 600px;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.modal-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

/*  this is new */

.modal-card {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 50vh;
    height: 70vh;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
}

.sign-up-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* font-weight: bold; */
    font-size: 24px;
    line-height: 33px;
}

.sign-up-info-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    /* identical to box height, or 141% */
    text-align: center;
}

.name {
    height: 2rem;
    background: #F5EFEF;
    border-radius: .5rem;
    padding: 1.3rem;
}

input {
    display: inline-block;
}

.form-signup {
    justify-content: space-evenly;
}

/* validation feedback */
.login-form-validation-feedback{
    color: red;    
}

.signup-validation{
    color: red;
    font-size: 15px;
    /* display: none; */    
}

.validation__firstName, .validation__password, .validation__userName{
    color: red;
}
.sign-up-btn {
    border-radius: .5rem;
}
